body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    background-color: black;
    color: cyan;
    overflow: hidden;
}
.name {
    font-size: 3rem;
    font-weight: bold;
    animation: color_change 1s infinite alternate;
}
@keyframes color_change {
    0% {
        color: cyan;                   
    }
    100% {
        color: white;
    }
}